<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>38885191998-o4h4po02nt88r5ksamd7vs1keskevncc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38885191998-o4h4po02nt88r5ksamd7vs1keskevncc</string>
	<key>API_KEY</key>
	<string>AIzaSyByeDoBdQrFKGyezzSLJNG8B4Goxoh3EqA</string>
	<key>GCM_SENDER_ID</key>
	<string>38885191998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MAC.Pair</string>
	<key>PROJECT_ID</key>
	<string>pair-4a005</string>
	<key>STORAGE_BUCKET</key>
	<string>pair-4a005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:38885191998:ios:329648f44417c6ab</string>
	<key>DATABASE_URL</key>
	<string>https://pair-4a005.firebaseio.com</string>
</dict>
</plist>