<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>923875943481-ngdq8gmtegfbki0h3pvfp77qhhkl900f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923875943481-ngdq8gmtegfbki0h3pvfp77qhhkl900f</string>
	<key>API_KEY</key>
	<string>AIzaSyBeaUF4uQc8Nm3yY5kjnKCg0X57GSiV1tw</string>
	<key>GCM_SENDER_ID</key>
	<string>923875943481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MAC.newpairdb</string>
	<key>PROJECT_ID</key>
	<string>newpair-b3a52</string>
	<key>STORAGE_BUCKET</key>
	<string>newpair-b3a52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:923875943481:ios:916a391ac06070b7</string>
	<key>DATABASE_URL</key>
	<string>https://newpair-b3a52.firebaseio.com</string>
</dict>
</plist>